<<<<<<< HEAD
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
	margin-top: 20px;
}
.head{
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	background: url(../../img/ar_con_photo1.jpg);
	background-size: cover;
}
.background_cont {
	position: relative;
	width: 1100px;
	height: 300px;
	background: rgba(182, 186, 195, 0.7);
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.background_cont_title {
	position: absolute;
	margin-top: 140px;
	width: 100%;
	height: auto;
}

.background_cont_title_cont {
	font-family: "microsoft sans serif";
	font-size: 60px;
	padding-left: 20px;
	float: left;
}
=======
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
	margin-top: 20px;
}
.head{
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	background: url(../../img/ar_con_photo1.jpg);
	background-size: cover;
}
.background_cont {
	position: relative;
	width: 1100px;
	height: 300px;
	background: rgba(182, 186, 195, 0.7);
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.background_cont_title {
	position: absolute;
	margin-top: 140px;
	width: 100%;
	height: auto;
}

.background_cont_title_cont {
	font-family: "microsoft sans serif";
	font-size: 60px;
	padding-left: 20px;
	float: left;
}
>>>>>>> e7ae3e7eb56dd6bc0cc9b55664029fbb4239bc72
